.vertical-menu {
  width: 200px; /* Set a width if you like */
  margin-bottom: 50px;
}

.vertical-menu a {
  background-color: #eee; /* Grey background color */
  color: rgb(0, 0, 0); /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: rgb(247, 247, 247); /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: #040404; /* Add a green color to the "active/current" link */
  color: rgb(255, 255, 255);
}

.button {
  background-color: #000000; /* Green */
  border: none;
  color: white;
  
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#div1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
